<!DOCTYPE html>

<html>
  <head>
    <title>WeatherPod - Dashboard</title>
    <meta charset="utf-8">

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="css/style.css">

    <!-- JavaScript stuff -->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

  	<script>
      // Socket.io initialization

      var socket = io();

  		// Random graph data

      $(document).ready(function() {
        socket.on('weather-data', function(data) {

          $('.temp h1 span').html(data.temp);
          $('.humidity h1 span').html(data.hum);
          $('.pressure h1 span').html(data.pres);
          $('.altitude h1 span').html(data.alti);
        });

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('.temp-graph').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
                            var series = this.series[0];

                            console.log(this.series);

                            socket.on('weather-data', function(data) {
                              var x = (new Date()).getTime(), // current time
                                  y = parseInt(data.temp, 10);

                              console.log([x, y]);

                              series.addPoint([x, y], true, true);
                            });
                          }
                }
            },
            title: {
                text: 'Temp'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Temp',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
        });

        $('.humidity-graph').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
                            var series = this.series[0];

                            console.log(this.series);

                            socket.on('weather-data', function(data) {
                              var x = (new Date()).getTime(), // current time
                                  y = parseInt(data.hum, 10);

                              console.log([x, y]);

                              series.addPoint([x, y], true, true);
                            });
                          }
                }
            },
            title: {
                text: 'Humidity'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Temp',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }

                    return data;
                }())
            }]
        });

        $('.pressure-graph').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
                            var series = this.series[0];

                            console.log(this.series);

                            socket.on('weather-data', function(data) {
                              var x = (new Date()).getTime(), // current time
                                  y = parseInt(data.pres, 10);

                              console.log([x, y]);

                              series.addPoint([x, y], true, true);
                            });
                          }
                }
            },
            title: {
                text: 'Pressure'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Temp',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
        });
      });
  	</script>
  </head>
  <body>
    <header>
      <img src="img/weatherpod_logo.png" />
      <h1>WeatherPod</h1>
    </header>
    <section class="data">
      <section class="temp">
        <h1><span>Na/N</span>°C</h1>
        <h4>Temperature</h4>
      </section>
      <section class="humidity">
        <h1><span>Na/N</span>%</h1>
        <h4>Humidity</h4>
      </section>
      <section class="pressure">
        <h1><span>Na/N</span>Hpa</h1>
        <h4>Pressure</h4>
      </section>
      <section class="altitude">
        <h1><span>Na/N</span>m</h1>
        <h4>Altitude</h4>
      </section>
    </section>
    <section class="graphs">
      <section class="temp-graph">

      </section>
      <section class="humidity-graph">
        <!-- To fill in -->
      </section>
      <section class="pressure-graph">
        <!-- To fill in -->
      </section>
    </section>
  </body>
</html>
